$font-family:'Quicksand';
$headingcolor:#1F136B;
$secondary-color: #5E5E5E;
$bgcolor:#B5B5B5;
$bodycolor:#000000;
$basefont:1rem;
$parafontsize:1.125rem;
$transition: all 0.5s ease;
$btncolor:#1F136B;
$whitecolor: #FFF;
$fontweight-heading: 400;


